Tag 0 EpochTag doesn't support all date formats

| Q                    | A
| -------------------- | -----
| Bug report?          | yes
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no
| Library version      | 2.0.1

https://github.com/Spomky-Labs/cbor-php/blob/v2.0.1/src/Tag/EpochTag.php#L43

The EpochTag class currently does only support "Y-m-d\TH:i:sP" (RFC3339).

Following the [RFC7049 2.4.1 (CBOR)](https://datatracker.ietf.org/doc/html/rfc7049#section-2.4.1) they reference to [RFC4287 3.3](https://datatracker.ietf.org/doc/html/rfc4287#section-3.3) with the following example datetimes:

```
   <updated>2003-12-13T18:30:02Z</updated>
   <updated>2003-12-13T18:30:02.25Z</updated>
   <updated>2003-12-13T18:30:02+01:00</updated>
   <updated>2003-12-13T18:30:02.25+01:00</updated>
```

Currently only the first and third is supported.




Another thing - I think the class name "EpochTag" is wrong. "Epoch time" is another name for the unix time or timestamp: https://en.wikipedia.org/wiki/Unix_time 
The TimestampTag could have this name, but this tag should be named something like "DateTimeTag".

I keep this issue opened as the PR #30 only addresses the first part, but not the class name issue.

Hi @MaximilianKresse ,

The remaining comment is going to be addressed by #31.

* EpochTag is renamed into DatetimeTag. The previous class is deprecated and will be removed in v3.0 to avoid BC breaks

I close this issue now. Feel free to open it or comment if needed.
Regards